<div id="content-list">
  <h2>Config</h2>
  <form>
    <label>IP: <input type="text" name="ip" placeholder="192.168.1.100"></label><br>
    <label>User: <input type="text" name="user" placeholder="kodi"></label><br>
    <label>Pass: <input type="password" name="pass"></label><br>
    <label>Idioma preferido: <select name="lang1">
      <option value="es">Español</option>
      <option value="en">English</option>
    </select></label><br>
    <label>Idioma secundario: <select name="lang2">
      <option value="en">English</option>
      <option value="es">Español</option>
    </select></label><br>
    <button type="submit">Save</button>
  </form>
</div>
